*{
    background-color:rgb(166, 235, 235);
}
#Personal {
    padding-left: 10%;
}

#p2 {
    padding-left: 39%;
}

#p3 {
    padding-left: 30%;
}

#p4 {
    padding-left: 36%;
}

#p5 {
    padding-left: 30%;
}

#p6 {
    padding-left: 33%;
}

.h2 {
    color:red;
}

.button {
    background-color: rgb(28, 134, 158);
    color: white;
}

#dd {
    color: red;
    background-color: rgb(18, 117, 140);
}
 




